

form{
    /* background-color: blue; */
    display: block;
    gap: 10px;
   
}
.InputFields{
    position: relative;
    height: 50px;
    width: 285px;
    border-radius: 8px;
    border: 1px;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
}

.suggestions {
  position: absolute;   
  background: white;    
  border: 1px solid red;
  border-radius: 6px;
  width: 285px;         
  color: red;
  z-index: 1000;   
  max-height: 150px;
  top: 100%;
  width: 100%;
  left: 0; 
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #f0f0f0;
}
.InputFields input{
    height: 100%;
    padding: 0px 5px;
    font-size: 14px;
    width: 100%;
    border: none;
    background-color: #F0F0F0;

}
.Btn{
    display: flex;
    align-items: center;

}
#searchBtn{
    background-color: #2AA8FF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2%;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
}